[user]
	name = Adam Keenan
	email = adam.keenan@myfarms.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
[core]
	editor = vim
[push]
	default = simple
[branch]
	autosetupmerge = true
[color]
    ui = auto
[color "status"]
    changed = red bold
    untracked = black bold
