
/**
 * Copyright 2012 Google Inc. All Rights Reserved.
 */

html, body, webview {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  /* The following 3 styles are used to workaround an issue where top of the
     webview is offset becuase of the offline UX. */
  position: absolute;
  top:0;
  left:0;
}

.osx_warning {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 200;
  display: none;
}

.show_title .osx_warning {
  top: 25px;
  height: calc(100% - 25px);
}

.show_osx_warning {
  width: 100%;
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
}

webview {
  width: 0;
  height: 0;
}

#uv_titlebar {
  display: none;
}

.show_title webview {
  top: 25px;
}

.webview_show {
  width: 100%;
  height: 100%;
}

.show_title .webview_show {
  height: calc(100% - 25px);
}

.show_title #uv_titlebar {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 25px;
  background-color: green;
  -webkit-app-region: drag;
}

.show_title #uv_titlebar > div {
  padding-left: 6px;
  padding-right: 6px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: darkgreen;
  -webkit-app-region: no-drag;
}

.show_title #uv_titlebar > #uv_pin > #uv_pin_icon {
  width: 24px;
  height: 24px;
  background: url('../images_4/pinned.png');
}

.show_title #uv_titlebar > #uv_pin.show_pin > #uv_pin_icon {
  background: url('../images_4/unpinned.png');
}

@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  .show_title #uv_titlebar > #uv_pin > #uv_pin_icon {
    background: url('../images_4/pinned_2x.png');
    background-size: 24px 24px;
  }

  .show_title #uv_titlebar > #uv_pin.show_pin > #uv_pin_icon {
    background: url('../images_4/unpinned_2x.png');
    background-size: 24px 24px;
  }
}

.application_status {
  display: flex;
  align-items: flex-end;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.application_status > *,
.exit_app > * {
  font-family: 'Arial', sans-serif;
}

.application_status_hide {
  display: none;
}

.application_status_container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

.application_status_root {
  position: relative;
  width: 100%;
  justify-content: flex-end;
  display: flex;
  margin-bottom: 10px;
  padding: 4px 0;
}

.application_status_left .application_status_container >
.application_status_root {
  justify-content: flex-start;
}

.application_status_indicator {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  margin-right: 14px;
  margin-left: 0;
  box-shadow: 0 3.5px 14px rgba(2,5,6,.59);
  cursor: pointer;
  position: relative;
}

.main_app_focused .application_status_indicator {
  box-shadow: 0 3.5px 14px rgba(2,5,6,.7);
}

.main_app_shaped_not_transparent .application_status_indicator {
  margin-right: 20px;
}

.application_status_left .application_status_indicator {
  margin-right: 0;
  margin-left: 14px;
}

.main_app_shaped_not_transparent .application_status_indicator {
  margin-left: 20px;
}

.main_app_shaped_not_transparent.application_status_left
    .application_status_indicator {
 margin-left: 20px;
}

.dialog_container {
  border-radius: 4px;
  background-clip: padding-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: calc(100% - 79px);
  box-shadow: 0 3.5px 14px rgba(2,5,6,.59);
  bottom: 10px;
}

.main_app_focused .dialog_container {
  box-shadow: 0 3.5px 14px rgba(2,5,6,.7);
}

.main_app_shaped_not_transparent .dialog_container {
  width: calc(100% - 78px);
  box-shadow: initial;
  border: 1px solid rgba(0,0,0,.3);
  bottom: 0;
}

.main_app_not_shaped.application_status_left .dialog_container {
  width: calc(100% - 72px);
  bottom: 0;
}

.status_container {
  position: fixed;
  left: 7px;
  right: initial;
}

.application_status_left .status_container {
  right: 7px;
  left: initial;
}

.main_app_shaped_not_transparent .status_container {
  right: inherit;
  left: 0;
}

.main_app_shaped_not_transparent.application_status_left .status_container,
.main_app_not_shaped.application_status_left .status_container {
  right: 0;
  left: inherit;
}

.application_status_details {
  display: none;
}

.application_status_details_show {
  display: block;
}

.application_status_details_notloaded,
.application_status_details_outdated {
  justify-content: flex-end;
  background-color: #fff;
  height: auto;
  padding: 31px;
}

.application_status_details_notloaded_title,
.application_status_details_outdated_title,
.exit_app_title {
  color: #455963;
  font-weight: bold;
  font-size: 16px;
}

.application_status_details_notloaded_detail,
.application_status_details_outdated_detail,
.exit_app_detail {
  color: #5f7d8b;
  font-size: 14px;
}

.application_status_details_notloaded_detail,
.application_status_details_outdated_detail {
  margin: 20px 0 0;
}

.application_status_retry_button_container {
  display: flex;
  justify-content: flex-end;
}

.application_status_retry_button {
  width: 114px;
  height: 36px;
  border-radius: 4px;
  background-color: #4185f3;
  display: table;
  margin-top: 30px;
}

.application_status_retry_button_text {
  color: #fff;
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
}

.application_status_indicator_error,
.application_status_indicator_loading,
.application_status_indicator_notsignin,
.application_status_indicator_outdated {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: none;
}

.show_application_status_indicator {
  display: block;
}

.application_status_indicator_loading,
.application_status_indicator_notsignin {
  background-color: #17a05e;
}

.application_status_indicator_error,
.application_status_indicator_outdated {
  background-color: #455a64;
}

.loading_icon,
.problem_icon,
.error_icon,
.outdated_icon {
  width: 24px;
  height: 24px;
  position: absolute;
  margin: 11px;
}

@-webkit-keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(-360deg);
    }
}

.application_status_indicator_loading .loading_icon {
  -webkit-animation: spin 2s infinite linear;
}

.loading_icon {
  background: url('../images_4/ic_loading.png');
}

.problem_icon {
  background: url('../images_4/ic_problem.png');
}

.error_icon {
  background: url('../images_4/ic_error_white.png');
}

.outdated_icon {
  background: url('../images_4/ic_outdated.png');
}

@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  .loading_icon {
    background: url('../images_4/ic_loading_2x.png');
  }

  .problem_icon {
    background: url('../images_4/ic_problem_2x.png');
  }

  .error_icon {
    background: url('../images_4/ic_error_white_2x.png');
  }

  .outdated_icon {
    background: url('../images_4/ic_outdated_2x.png');
  }

  .loading_icon,
  .problem_icon,
  .error_icon,
  .outdated_icon {
    background-size: 24px 24px;
  }
}

.application_status_details_notsignin {
  top: 3px;
}

.show_title .application_status_details_notsignin {
  height: calc(100% - 25px);
  top: 25px;
}

.button_badge {
  box-shadow: 0 0 8px rgba(0,0,0,.51);
  box-sizing: border-box;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: none;
  right: -10px;
  position: absolute;
}

.drag_region,
.app_drag_region {
  top: 26px;
}

.drag_region {
  background-color: #0f9d57;
}

.drag_region_show {
  display: flex;
}

.uv_drag_region,
.app_drag_region {
  background-color: #0f9d57;
  -webkit-app-region: drag;
}

.drag_region_enable + .app_drag_region {
  display: flex;
  box-shadow: initial;
}

.drag_region_icon {
  background: url('../images_4/ic_drag.png');
  width: 10px;
  height: 10px;
  background-size: 10px 10px;
}

@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  .drag_region_icon {
    background: url('../images_4/ic_drag_2x.png');
    background-size: 10px 10px;
  }
}

.application_close {
  background-color: #26343b;
  top: 0;
}

.application_close_show {
  display: flex;
}

.close_icon {
  background: url('../images_4/close.png');
  width: 7px;
  height: 7px;
  background-size: 7px 7px;
  cursor: pointer;
}

@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  .close_icon {
    background: url('../images_4/close_2x.png');
    background-size: 7px 7px;
  }
}

.exit_app {
  height: 217px;
  background: #fff;
  position: absolute;
  display: none;
  justify-content: flex-end;
  z-index: 101;
  padding: 31px;
  right: 72px;
}

.application_status_left .exit_app {
  right: auto;
  left: 72px;
}

.main_app_shaped_not_transparent .exit_app {
  right: 78px;
  left: auto;
}

.main_app_shaped_not_transparent.application_status_left .exit_app {
  right: auto;
  left: 78px;
}

.exit_app_show {
  display: flex;
}

.exit_app_detail {
  margin: 17px 0 37px 0;
}

.exit_app_buttons {
  display: flex;
  justify-content: flex-end;
}

.exit_app_buttons > button {
  padding: 0 20px;
  height: 36px;
  border-radius: 4px;
  background-color: #4185f3;
  color: #eee;
  border: none;
  margin-left: 10px;
}

.exit_app_buttons > .exit_app_buttons_no_button {
  background: url('../images_4/close.png') center no-repeat #455a64;
  background-size: 7px 7px;
  position: absolute;
  padding: 0;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

@media (min-resolution: 144dpi), (-webkit-min-device-pixel-ratio: 1.5) {
  .exit_app_buttons > .exit_app_buttons_no_button {
    background-image: url('../images_4/close_2x.png');
  }
}

.exit_app_mask {
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  position: absolute;
}

.exit_app_show + .exit_app_mask {
  display: block;
}

.main_app_mask > webview,
.main_app_mask .application_status {
  opacity: 0.5;
}

.uv_drag_region {
  display: flex;
  z-index: 99;
  left: -99px;
}

.application_indicator_panel {
  display: none;
  border: 1px solid rgba(0, 0, 0, .3);
}

.main_app_shaped_not_transparent .application_indicator_panel {
  display: block;
  border-radius: 4px;
  width: 88px;
  height: 64px;
  background-color: #fff;
  padding-top: 10px;
  bottom: 0;
  right: 0;
  position: absolute;
}

.main_app_shaped_not_transparent.application_status_left
    .application_indicator_panel {
   left: 0;
   right: inherit;
}
