*{
  margin:0;
  padding:0;
  border:none;
}

body{
  font-family:arial;
  font-size:14px;
  color:#222;
  background:#fff url(../images/premium_bodybg.jpg) repeat-x 0 0;
}

#hlavni{
  position:relative;
  margin:0 auto;
  width:940px;
  padding:672px 0 0 0;
  text-align:left;
  background:url(../images/premium_hlavnibg.jpg) no-repeat center top;
}

h1{
  font-size:20px;
}

h2{
  font-size:16px;
  margin:0 0 10px 0;
}

h3{
  font-size:14px;
}

input,label,select{
  cursor: pointer;
}

.none{
  display: none !important;
}

.none1{
  display: none;
}

.clear{
  clear:both;
  display: block;
}

.premium_button_big{
  position: absolute;
  top:490px;
  left:320px;
  display: inline-block;
  cursor:pointer;
  width:288px;
  height:99px;
  text-indent:-99999px;
  background: url(../images/premium_button_big.png) no-repeat 0 0;
  outline: none
}

.premium_button_big:hover{
  background-position:0 -99px;
}

#price_info{
  position: absolute;
  top:598px;
  left:220px;
  display: inline-block;
  width:488px;
  text-align: center;
  color:#fff;
  font-size:16px;
  font-weight: bold;
}

#restore{
  position: absolute;
  top:625px;
  left:384px;
  display: inline-block;
  cursor:pointer;
  width:160px;
  text-align: center;
  color:#fff;
  font-size:15px;
}

#restore:hover{
  text-decoration: underline;
}

#foot{
  padding:0 12px 8px 0;
  text-align: center;
  font-size:15px;
  font-weight:bold;
  color:#333;
}

#foot span{
  cursor: pointer;
}

#foot span:hover{
  text-decoration: underline;
}

/* popup */
#popup_bg{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  background-color:rgba(0,30,110,0.7);
}

#popup_bg #reg_zone{
  margin:100px auto 0 auto;
  padding:10px 0;
  width:540px;
  position: relative;
  color:#fff;
  text-align: center;
  border-radius:35px;
  box-shadow:0 0 500px #000;
  background:url(../images/premium_popup_bg.png) repeat-x center center;
}

#popup_bg #reg_zone h2{
  padding:13px 0 17px 30px;
  text-align: left;
  font-size:18px;
  border-bottom:solid 2px #68A4CC;
}

#popup_bg #reg_zone p.text{
  font-size:16px;
  padding:3px 0 15px 0;
}

#popup_bg .close{
  position:absolute;
  right:27px;
  top:21px;
  color:#000;
  font-weight:bold;
  cursor: pointer;
}

#popup_bg #reg_ok1, #popup_bg #reg_ok2{
  display: inline-block;
  cursor:pointer;
  width:203px;
  height:66px;
  background: url(../images/premium_button_small1.png) no-repeat 0 0;
  outline: none;
}

#popup_bg #reg_ok1:hover, #popup_bg #reg_ok2:hover{
  background-position:0 -66px;
}

#popup_bg #reg_ok2{
  width:223px;
  background: url(../images/premium_button_small2.png) no-repeat 0 0;
}

#popup_bg input[type=text],input[type=password]{
  display: inline-block;
  cursor:pointer;
  padding:5px 25px;
  margin:0 0 17px 0;
  width:250px;
  height:25px;
  line-height:27px;
  font-size:16px;
  text-align:left;
  color:#E7F1F8;
  background-color:transparent;
  border:solid 2px #fff;
  border-radius:7px;
  outline: none
}

::-webkit-input-placeholder, ::-webkit-input-placeholder{
  color:#7E9DB5;
}

#error{
  position:absolute;
  left:70px;
  top:462px;
  width:800px;
  font-size: 18px;
  text-align:center;
  color:#FFF600;
  font-weight:bold;
  letter-spacing:1px;
  text-shadow:0 0 2px #000;
}